---
import { getCollection } from "astro:content";
import Photo from "./Photo.svelte";
import ImageWithFallback from "./ImageWithFallback.astro";

const allPhotos = await getCollection("photos");
---

<div class="z-10 flex h-full flex-col justify-center text-white">
  <h2
    id="photography"
    class="svelte-title py-3 text-5xl font-black tracking-wide md:text-7xl"
  >
    Photography
  </h2>
  <p class="text-xl font-medium">
    Although I am rarely ever carrying anything more than my phone camera these
    days, my first foray into the professional world was in photography. Here
    are a few of my favourites:
  </p>
  <div class="mt-5 columns-2 gap-3 md:columns-3">
    {
      allPhotos.map((photo, index) => (
        <Photo
          title={photo.data.title}
          id={photo.id}
          iso={photo.data.iso}
          shutter={photo.data.shutter}
          aperture={photo.data.aperture}
          device={photo.data.device}
          prevId={
            index > 0
              ? allPhotos[index - 1].id
              : allPhotos[allPhotos.length - 1].id
          }
          nextId={
            index < allPhotos.length - 1
              ? allPhotos[index + 1].id
              : allPhotos[0].id
          }
          client:load
        >
          <ImageWithFallback
            src={photo.data.img}
            alt={photo.data.title}
            data-height={photo.data.img.height}
            data-width={photo.data.img.width}
            layout="full-width"
            class="max-h-[80vh] h-full w-auto max-w-[90vw] rounded-xl"
            slot="fullSizeImage"
            height={2000}
          />
          <ImageWithFallback
            src={photo.data.img}
            alt={photo.data.title}
            data-height={photo.data.img.height}
            data-width={photo.data.img.width}
            layout="constrained"
            width={330}
            class="transition-transform duration-500 hover:scale-105"
          />
        </Photo>
      ))
    }
  </div>
</div>
